/* Đặt nền và font chữ cơ bản */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Định dạng cho header */
header {
    background-color: #333;
    color: #fff;
    padding: 5px 0; /* Giảm padding */
    text-align: center;
    margin-bottom: 10px; /* Giảm khoảng cách dưới */
}

header h1 {
    margin: 0;
    font-size: 1.5em; /* Giảm kích thước font */
}

/* Định dạng cho thanh điều hướng (nav) */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Xóa khoảng cách mặc định của ul */
}

nav ul li {
    display: inline;
    margin: 0 10px; /* Giảm khoảng cách giữa các mục */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em; /* Giảm kích thước font */
}

nav ul li a:hover {
    text-decoration: underline;
}


/* Định dạng cho footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}
